<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components | Famm COFFEE SHOP</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="../assets/margin-padding.css">
  <link rel="stylesheet" href="./components.css">
</head>

<body>
  <div class="ly-wrapper">
    <h1 class="ly-components-h1">コンポーネント管理</h1>
    <!-- パーツ -->
    <h2 class="ly-components-h2">パーツ＆モジュール</h2>
    <div class="ly-inner">
        <h3 class="ly-components-h3">見出し</h3>
        <span class="el-code">.el-h1</span>
        <div class="theme-bgPrimary ly-componentsBox ly-mb24">
          <h1 class="el-h1">Famm COFFEE SHOP</h1>
        </div>
        <span class="el-code">.el-h2</span>
        <h2 class="el-h2 ly-mb24">Line up</h2>
        <span class="el-code">.el-h3</span>
        <h3 class="el-h3 ly-mb24">News</h3>
        <span class="el-code">.el-h4</span>
        <h4 class="el-h4 ly-mb24">ホワイトデーのお返しに！「ホワイトデースペシャルギフトセット」発売中です。</h4>
        <span class="el-code">.el-h6</span>
        <h5 class="el-h5">Famm COFFEE SHOP 本店 (基幹店)</h5>
        <hr>
        <h3 class="ly-components-h3">テキスト</h3>
        <span class="el-code">.el-openHour</span>
        <div class="theme-bgPrimary ly-componentsBox ly-mb24">
          <p class="el-openHour">営業時間：9:30～17:30（日祝休）</p>
        </div>
        <span class="el-code">p</span>
        <p class="ly-mt0 ly-mb40">
          今月のおすすめは、希少なジャコウネコのフンから取れるコピ・ルアク。ジャコウネコのお腹の中で発酵され、複雑な風味が生まれるとして有名な豆です。なめらかで甘みがあり、フルーティーなコピ・ルアクは大量生産ができないことから、希少性が高く、正規のルートから入手できるものはわずかです。<br>
          ぜひ、この機会にお試しください。</p>
        <span class="el-code">.el-text--small</span>
        <p class="el-text--small ly-mt0 ly-mb40">本店 : 〒150-0022 東京都渋谷区恵比寿南1丁目1-9 岩德ビル 4階<br>
          電話番号 : 03-1234-5678<br>
          営業時間 : 9:30～17:30（日祝休）</p>
        <span class="el-code">.el-text--xsmall .el-text--center</span>
        <p class="el-text--xsmall el-text--center ly-mt0">&copy; Famm COFFEE SHOP</p>
        <hr>
        <h3 class="ly-components-h3">アイコン</h3>
        <span class="el-code">.el-arrow--right</span>
        <p class="el-arrow--right ly-mt0 ly-mb40">右矢印</p>
        <span class="el-code">.el-arrow--left</span>
        <p class="el-arrow--left ly-mt0 ly-mb40">左矢印</p>
        <div class="theme-bgGray ly-componentsBox ly-mb24">
          <span class="el-code">.el-menu</span>
          <button class="el-menu ly-mb16" type="button">メニュー</button>
          <span class="el-code">.el-menu--close</span>
          <button class="el-menu--close" type="button">閉じる</button>
        </div>
        <hr>
        <h3 class="ly-components-h3">ラベル</h3>
        <div class="ly-mb40">
          <span class="el-code">.el-label--acidity</span>
          <span class="el-label--acidity ly-mb16">酸味</span>
          <span class="el-code">.el-label--rich</span>
          <span class="el-label--rich ly-mb16">コク</span>
          <span class="el-code">.el-label--flavor</span>
          <span class="el-label--flavor ly-mb16">フレーバー</span>
          <span class="el-code">.el-label--fruity</span>
          <span class="el-label--fruity ly-mb16">フルーティー</span>
          <span class="el-code">.el-label--bitter</span>
          <span class="el-label--bitter ly-mb16">苦味</span>
          <span class="el-code">.el-label--spicy</span>
          <span class="el-label--spicy ly-mb16">スパイシー</span>
          <span class="el-code">.el-label--sweetness</span>
          <span class="el-label--sweetness ly-mb16">甘み</span>
          <span class="el-code">.el-label--backorder</span>
          <span class="el-label--backorder ly-mb16">入荷待ち</span>
          <span class="el-code">.el-label--inquiry</span>
          <span class="el-label--inquiry ly-mb16">必須</span>
        </div>
        <h3 class="ly-components-h3">ボタン / リンク</h3>
        <div class="ly-components2column ly-mb40">
          <span class="el-code el-text--center">.m-button--primary</span>
          <a href="" class="m-button--primary el-arrow--right ly-mb24">すべての商品を見る</a>
          <span class="el-code el-text--center">.m-button--secondary</span>
          <a href="" class="m-button--secondary el-arrow--left">入力内容を確認する</a>
        <p class="ly-mb16"><span class="el-code">.el-text--link</span>
          <a href="" class="el-text--link">世界最高級とも言われるゾウのフンから採れるコーヒー豆「ブラックアイボリー」入荷しました。</a></p>
          <span class="el-code">.el-text--link.el-arrow--right</span>
          <a href="" class="el-text--link el-arrow--right ly-mr40">商品詳細はこちら</a>
          <span class="el-code">.el-text--link.el-arrow--left</span>
          <a href="" class="el-text--link el-arrow--left">News一覧へ戻る</a>
        </div>
        <hr>
        <h3 class="ly-components-h3">ナビゲーション</h3>
        <span class="el-code">.m-mainNavigation</span>
        <div class="theme-bgPrimary ly-componentsBox ly-mb64">
          <nav class="m-mainNavigation">
            <ul class="m-mainNavigation__list">
              <li><a href="">Home</a></li>
              <li><a href="">Line up</a></li>
              <li><a href="">Shops</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>

        <span class="el-code">.m-breadcrumbs</span>
        <nav class="m-breadcrumbs ly-mb64">
          <ul class="m-breadcrumbs__list">
            <li><a href="">Home</a></li>
            <li><a href="">Line up</a></li>
            <li>パナマ・ゲイシャ</li>
          </ul>
        </nav>
        <span class="el-code">.m-pagination</span>
        <div class="m-pagination ly-mb64">
          <a href="" class="m-pagination__prev"><img src="../assets/images/common/icon_arrow-left.svg" alt="前へ"></a>
          <ol class="m-pagination__list">
            <li><span class="m-pagination__list--current">1</span></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><span>...</span></li>
            <li><a href="">10</a></li>
          </ol>
          <a href="" class="m-pagination__next"><img src="../assets/images/common/icon_arrow-right.svg" alt="次へ"></a>
        </div>
        <span class="el-code">.m-subMenu</span>
        <div class="theme-bgGray ly-componentsBox ly-mb24">
          <ul class="m-subMenu">
            <li><a href="">特定商取引法に基づく表記</a></li>
            <li><a href="">プライバシーポリシー</a></li>
          </ul>
        </div>
    </div>
    <hr>
    <!-- ライブラリ -->
    <h2 class="ly-components-h2">ライブラリ</h2>
    <h3 class="ly-components-h3">ヘッダー / フッター</h3>
    <span class="el-code">.lb-header</span>
    <header class="lb-header ly-mb40">
        <div class="m-headerHead">
          <h1 class="el-h1"><a href="./" class="theme-colorBaige">Famm COFFEE SHOP</a></h1>
          <p class="el-openHour">営業時間：9:30～17:30（日祝休）</p>
        </div>
        <button class="el-menu" type="button" id="js-menuButton">メニュー</button>
        <nav class="m-mainNavigation" id="js-menu">
          <ul class="m-mainNavigation__list">
            <li><a href="">Home</a></li>
            <li><a href="">Line up</a></li>
            <li><a href="">Shops</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
    </header>

    <span class="el-code">.lb-footer</span>
    <footer class="lb-footer ly-mb40">
      <div class="ly-inner">
        <div class="ly-footer__head">
          <div class="m-footerInfo">
            <div class="el-h1"><b><a href="./" class="theme-colorBaige">Famm COFFEE SHOP</a></b></div>
            <address class="el-text--small theme-colorBaige">
              本店 : 〒150-0022 東京都渋谷区恵比寿南1丁目1-9 岩德ビル 4階<br>
              電話番号 : 03-1234-5678<br>
              営業時間 : 9:30～17:30（日祝休）
            </address>
          </div>
          <nav class="m-mainNavigation">
            <ul class="m-mainNavigation__list">
              <li><a href="">Home</a></li>
              <li><a href="">Line up</a></li>
              <li><a href="">Shops</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="ly-footer__bottom">
          <ul class="m-subMenu">
            <li><a href="">特定商取引法に基づく表記</a></li>
            <li><a href="">プライバシーポリシー</a></li>
          </ul>
          <p class="el-text--xsmall el-text--center theme-colorBaige">&copy; Famm COFFEE SHOP</p>
        </div>
      </div>
    </footer>
    <div class="ly-inner">
      <h3 class="ly-components-h3">テーブル</h3>
      <h4 class="ly-components-h4">一般(デフォルト)</h4>
      <span class="el-code">.m-table</span>
      <table class="m-table ly-mb40">
        <tbody>
          <tr>
            <th>住所</th>
            <td>〒150-0022 東京都渋谷区恵比寿南1丁目1−9 岩德ビル 4階</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>03-1234-5678</td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td>9:30～17:30（日祝休）</td>
          </tr>
        </tbody>
      </table>
      <h4 class="ly-components-h4">商品詳細ページ</h4>
      <span class="el-code">.m-table--small</span>
      <table class="m-table--small">
        <tbody>
          <tr>
            <th>生産者</th>
            <td>ハワイ州コナ地区</td>
          </tr>
          <tr>
            <th>品種</th>
            <td>アラビカ・ティピカ</td>
          </tr>
          <tr>
            <th>精製方法</th>
            <td>ウォッシュド</td>
          </tr>
          <tr>
            <th>フレーバー</th>
            <td>甘い香りとフレッシュな酸味</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ly-inner ly-mt40">
      <h4 class="ly-components-h4">ニュースリスト</h4>
      <span class="el-code">.m-newsList</span>
      <ul class="m-newsList">
        <li>
          <time datetime="2023-04-01">2023.04.01</time>
          <span>5月開催分のコーヒー教室(初級・中級・上級)の募集を開始いたします。</span>
        </li>
        <li>
          <a href="">
            <time datetime="2023-03-15">2023.03.15</time>
            <span>世界最高級とも言われるゾウのフンから採れるコーヒー豆「ブラックアイボリー」入荷しました。</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="ly-inner ly-mt40">
      <h4 class="ly-components-h4">お問合せフォーム (パーツ)</h4>
      <span class="el-code">.m-formInput</span>
      <div class="m-formInput ly-mb40">
        <label for="name">お名前 <span class="el-label--inquiry">必須</span></label>
        <div class="m-formInput__input">
          <input type="text" name="" id="name">
        </div>
      </div>
      <h4 class="ly-components-h4">お問合せフォーム (エラー)</h4>
      <div class="m-formInput">
        <label for="name">お名前 <span class="el-label--inquiry">必須</span></label>
        <div class="m-formInput__input--isError">
          <span class="el-code">.m-formInput__input--isError</span>
          <input type="text" name="" id="name">
          <p>必須項目です。お名前を入力してください。</p>
        </div>
      </div>
    </div>

    <div class="ly-inner ly-mt40">
      <h4 class="ly-components-h4">商品カード</h4>
      <span class="el-code">.m-productCard</span>
      <div class="m-productCard">
        <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
        <h3 class="el-h6">コナ・コーヒー</h3>
        <span class="el-label--acidity">酸味</span>
        <p class="el-price">¥4,800 / 100g</p>
      </div>
      <hr>
    </div>

    <div class="ly-inner">
      <h3 class="ly-components-h3">カラムレイアウト</h3>
      <h4 class="ly-components-h4">画像とテキスト</h4>
      <span class="el-code">.lb-imageText</span>
      <div class="lb-imageText b-pickup ly-mb64">
        <div class="lb-imageText__image">
          <img src="../assets/images/home/img_pickup.jpg" alt="">
        </div>
        <div class="lb-imageText__text">
          <div class="b-pickup__head">
            <div class="b-pickup__head__title">
              <h3 class="el-h5">コピ・ルアク</h3>
              <p class="el-price">¥8,800 / 100g</p>
            </div>
            <a href="" class="el-text--link el-arrow--right">商品詳細はこちら</a>
          </div>
          <p class="b-pickup__text">
            今月のおすすめは、希少なジャコウネコのフンから取れるコピ・ルアク。ジャコウネコのお腹の中で発酵され、複雑な風味が生まれるとして有名な豆です。なめらかで甘みがあり、フルーティーなコピ・ルアクは大量生産ができないことから、希少性が高く、正規のルートから入手できるものはわずかです。<br>
            ぜひ、この機会にお試しください。</p>
        </div>
      </div>

      <h4 class="ly-components-h4">画像とテキスト 左右反転</h4>
      <span class="el-code">.lb-imageText--reverse</span>
      <div class="lb-imageText--reverse ly-mb64">
        <div class="lb-imageText__image">
          <img src="../assets/images/shops/img_shop01.jpg" alt="">
          <div class="ly-mt8 el-text--right"><a href="" class="el-text--link el-arrow--right">地図を見る</a></div>
        </div>
        <div class="lb-imageText__text">
          <h3 class="el-h5">Famm COFFEE SHOP 本店 (基幹店)</h3>
          <table class="m-table">
            <tbody>
              <tr>
                <th>住所</th>
                <td>〒150-0022 東京都渋谷区恵比寿南1丁目1-9 岩德ビル 4階</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>03-1234-5678</td>
              </tr>
              <tr>
                <th>営業時間</th>
                <td>9:30～17:30（日祝休）</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h4 class="ly-components-h4">商品詳細</h4>
      <span class="el-code">.lb-productDetail</span>
      <div class="lb-productDetail ly-mb64">
        <div class="lb-productDetail__image">
          <img src="../assets/images/products/img_product12.jpg" alt="">
        </div>
        <div class="lb-productDetail__text">
          <h3 class="el-h5">コナ・コーヒー</h3>
          <p class="el-price">¥4,800 / 100g</p>
          <div class="ly-mt8">
            <span class="el-label--acidity">酸味</span>
            <span class="el-label--backorder ly-ml8">入荷待ち</span>
          </div>
          <table class="m-table--small ly-mt24">
            <tbody>
              <tr>
                <th>生産者</th>
                <td>ハワイ州コナ地区</td>
              </tr>
              <tr>
                <th>品種</th>
                <td>アラビカ・ティピカ</td>
              </tr>
              <tr>
                <th>精製方法</th>
                <td>ウォッシュド</td>
              </tr>
              <tr>
                <th>フレーバー</th>
                <td>甘い香りとフレッシュな酸味</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h4 class="ly-components-h4">3カラム (SP 1カラム+2カラム)</h4>
      <span class="el-code">.lb-products--sp1plus2</span>
      <div class="lb-products--sp1plus2 ly-mb64">
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
      </div>
      <h4 class="ly-components-h4">3カラム (SP 2カラム)</h4>
      <span class="el-code">.lb-products</span>
      <div class="lb-products">
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
        <div class="m-productCard">
          <img src="../assets/images/products/img_product03.jpg" alt="" class="m-productCard__image">
          <h3 class="el-h6">コナ・コーヒー</h3>
          <span class="el-label--acidity">酸味</span>
          <p class="el-price">¥4,800 / 100g</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="../assets/scripts.js"></script>
</body>

</html>
