/* ---------- For desktop size ---------- */

/* margin top */
.ly-mt0 {
  margin-top: 0;
}

.ly-mt8 {
  margin-top: 8px;
}

.ly-mt16 {
  margin-top: 16px;
}

.ly-mt24 {
  margin-top: 24px;
}

.ly-mt32 {
  margin-top: 32px;
}

.ly-mt40 {
  margin-top: 40px;
}

.ly-mt48 {
  margin-top: 48px;
}

.ly-mt56 {
  margin-top: 56px;
}

.ly-mt64 {
  margin-top: 64px;
}

.ly-mt80 {
  margin-top: 80px;
}

.ly-mt96 {
  margin-top: 96px;
}

/* margin bottom */
.ly-mb0 {
  margin-top: 0;
}

.ly-mb8 {
  margin-bottom: 8px;
}

.ly-mb16 {
  margin-bottom: 16px;
}

.ly-mb24 {
  margin-bottom: 24px;
}

.ly-mb32 {
  margin-bottom: 32px;
}

.ly-mb40 {
  margin-bottom: 40px;
}

.ly-mb48 {
  margin-bottom: 48px;
}

.ly-mb56 {
  margin-bottom: 56px;
}

.ly-mb64 {
  margin-bottom: 64px;
}

.ly-mb80 {
  margin-bottom: 80px;
}

.ly-mb96 {
  margin-bottom: 96px;
}

/* padding top */
.ly-pt0 {
  padding-top: 0;
}

.ly-pt8 {
  padding-top: 8px;
}

.ly-pt16 {
  padding-top: 16px;
}

.ly-pt24 {
  padding-top: 24px;
}

.ly-pt32 {
  padding-top: 32px;
}

.ly-pt40 {
  padding-top: 40px;
}

.ly-pt48 {
  padding-top: 48px;
}

.ly-pt56 {
  padding-top: 56px;
}

.ly-pt64 {
  padding-top: 64px;
}

.ly-pt80 {
  padding-top: 80px;
}

.ly-pt96 {
  padding-top: 96px;
}

/* padding bottom */
.ly-pb0 {
  padding-top: 0;
}

.ly-pb8 {
  padding-bottom: 8px;
}

.ly-pb16 {
  padding-bottom: 16px;
}

.ly-pb24 {
  padding-bottom: 24px;
}

.ly-pb32 {
  padding-bottom: 32px;
}

.ly-pb40 {
  padding-bottom: 40px;
}

.ly-pb48 {
  padding-bottom: 48px;
}

.ly-pb56 {
  padding-bottom: 56px;
}

.ly-pb64 {
  padding-bottom: 64px;
}

.ly-pb80 {
  padding-bottom: 80px;
}

.ly-pb96 {
  padding-bottom: 96px;
}

/* ---------- For tablet size ---------- */

@media screen and (max-width:959px) {

  /* margin top */
  .ly-mt0--md {
    margin-top: 0;
  }

  .ly-mt8--md {
    margin-top: 8px;
  }

  .ly-mt16--md {
    margin-top: 16px;
  }

  .ly-mt24--md {
    margin-top: 24px;
  }

  .ly-mt32--md {
    margin-top: 32px;
  }

  .ly-mt40--md {
    margin-top: 40px;
  }

  .ly-mt48--md {
    margin-top: 48px;
  }

  .ly-mt56--md {
    margin-top: 56px;
  }

  .ly-mt64--md {
    margin-top: 64px;
  }

  .ly-mt80--md {
    margin-top: 80px;
  }

  .ly-mt96--md {
    margin-top: 96px;
  }

  /* margin bottom */
  .ly-mb0--md {
    margin-top: 0;
  }

  .ly-mb8--md {
    margin-bottom: 8px;
  }

  .ly-mb16--md {
    margin-bottom: 16px;
  }

  .ly-mb24--md {
    margin-bottom: 24px;
  }

  .ly-mb32--md {
    margin-bottom: 32px;
  }

  .ly-mb40--md {
    margin-bottom: 40px;
  }

  .ly-mb48--md {
    margin-bottom: 48px;
  }

  .ly-mb56--md {
    margin-bottom: 56px;
  }

  .ly-mb64--md {
    margin-bottom: 64px;
  }

  .ly-mb80--md {
    margin-bottom: 80px;
  }

  .ly-mb96--md {
    margin-bottom: 96px;
  }

  /* padding top */
  .ly-pt0--md {
    padding-top: 0;
  }

  .ly-pt8--md {
    padding-top: 8px;
  }

  .ly-pt16--md {
    padding-top: 16px;
  }

  .ly-pt24--md {
    padding-top: 24px;
  }

  .ly-pt32--md {
    padding-top: 32px;
  }

  .ly-pt40--md {
    padding-top: 40px;
  }

  .ly-pt48--md {
    padding-top: 48px;
  }

  .ly-pt56--md {
    padding-top: 56px;
  }

  .ly-pt64--md {
    padding-top: 64px;
  }

  .ly-pt80--md {
    padding-top: 80px;
  }

  .ly-pt96--md {
    padding-top: 96px;
  }

  /* padding bottom */
  .ly-pb0--md {
    padding-top: 0;
  }

  .ly-pb8--md {
    padding-bottom: 8px;
  }

  .ly-pb16--md {
    padding-bottom: 16px;
  }

  .ly-pb24--md {
    padding-bottom: 24px;
  }

  .ly-pb32--md {
    padding-bottom: 32px;
  }

  .ly-pb40--md {
    padding-bottom: 40px;
  }

  .ly-pb48--md {
    padding-bottom: 48px;
  }

  .ly-pb56--md {
    padding-bottom: 56px;
  }

  .ly-pb64--md {
    padding-bottom: 64px;
  }

  .ly-pb80--md {
    padding-bottom: 80px;
  }

  .ly-pb96--md {
    padding-bottom: 96px;
  }
}

/* ---------- For mobile size ---------- */

@media screen and (max-width:576px) {
  /* margin top */
  .ly-mt0--sm {
    margin-top: 0;
  }

  .ly-mt8--sm {
    margin-top: 8px;
  }

  .ly-mt16--sm {
    margin-top: 16px;
  }

  .ly-mt24--sm {
    margin-top: 24px;
  }

  .ly-mt32--sm {
    margin-top: 32px;
  }

  .ly-mt40--sm {
    margin-top: 40px;
  }

  .ly-mt48--sm {
    margin-top: 48px;
  }

  .ly-mt56--sm {
    margin-top: 56px;
  }

  .ly-mt64--sm {
    margin-top: 64px;
  }

  .ly-mt80--sm {
    margin-top: 80px;
  }

  .ly-mt96--sm {
    margin-top: 80px;
  }

  /* margin bottom */
  .ly-mb0--sm {
    margin-top: 0;
  }

  .ly-mb8--sm {
    margin-bottom: 8px;
  }

  .ly-mb16--sm {
    margin-bottom: 16px;
  }

  .ly-mb24--sm {
    margin-bottom: 24px;
  }

  .ly-mb32--sm {
    margin-bottom: 32px;
  }

  .ly-mb40--sm {
    margin-bottom: 40px;
  }

  .ly-mb48--sm {
    margin-bottom: 48px;
  }

  .ly-mb56--sm {
    margin-bottom: 56px;
  }

  .ly-mb64--sm {
    margin-bottom: 64px;
  }

  .ly-mb80--sm {
    margin-bottom: 80px;
  }

  .ly-mb96--sm {
    margin-bottom: 96px;
  }

  /* padding top */
  .ly-pt0--sm {
    padding-top: 0;
  }

  .ly-pt8--sm {
    padding-top: 8px;
  }

  .ly-pt16--sm {
    padding-top: 16px;
  }

  .ly-pt24--sm {
    padding-top: 24px;
  }

  .ly-pt32--sm {
    padding-top: 32px;
  }

  .ly-pt40--sm {
    padding-top: 40px;
  }

  .ly-pt48--sm {
    padding-top: 48px;
  }

  .ly-pt56--sm {
    padding-top: 56px;
  }

  .ly-pt64--sm {
    padding-top: 64px;
  }

  .ly-pt80--sm {
    padding-top: 80px;
  }

  .ly-pt96--sm {
    padding-top: 96px;
  }

  /* padding bottom */
  .ly-pb0--sm {
    padding-top: 0;
  }

  .ly-pb8--sm {
    padding-bottom: 8px;
  }

  .ly-pb16--sm {
    padding-bottom: 16px;
  }

  .ly-pb24--sm {
    padding-bottom: 24px;
  }

  .ly-pb32--sm {
    padding-bottom: 32px;
  }

  .ly-pb40--sm {
    padding-bottom: 40px;
  }

  .ly-pb48--sm {
    padding-bottom: 48px;
  }

  .ly-pb56--sm {
    padding-bottom: 56px;
  }

  .ly-pb64--sm {
    padding-bottom: 64px;
  }

  .ly-pb80--sm {
    padding-bottom: 80px;
  }

  .ly-pb96--sm {
    padding-bottom: 96px;
  }
}
